<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">

<suite name="AMPS_Test">
	<test name="Testcases_ALT">
		<parameter name="browser" value="chrome" />
		<parameter name="env" value="ROW" />
		<classes>
<!-- 			<class name="testsuit.Project.AddProjectTest" /> -->
<!-- 			<class name="testsuit.Project.AddProjectStateCountryTest" /> -->
<!-- 			<class name="testsuit.Project.UpdateProjectSettingAndMaintanceTest" /> -->
<!-- 			<class name="testsuit.Project.AddProjectAssignmentTest" /> -->
<!-- 			<class name="testsuit.Project.AddInterconnectionInformationTest" /> -->
<!-- 			<class name="testsuit.Project.AddKeyDateTest" /> -->
<!-- 			<class name="testsuit.Project.AddProjectWorkflowTest" /> -->

			<class name="testsuit.agreementManager.AgreementInformationTest" />
		</classes>

	</test>


<!-- 	<test name="Testcases_DOT"> -->
<!-- 		<parameter name="browser" value="chrome" /> -->
<!-- 		<parameter name="env" value="DOT" /> -->
<!-- 		<classes> -->
<!-- 			<class name="testsuit.Project.AddProjectTest" /> -->
<!-- 			<class name="testsuit.Project.AddProjectAssignmentTest" /> -->
<!-- 			<class name="testsuit.Project.AddProjectWorkflowTest"> -->
<!-- 			</class> -->
<!-- 		</classes> -->
<!-- 	</test> -->

<!-- 	<test name="Testcases_ROW"> -->
<!-- 		<parameter name="browser" value="chrome" /> -->
<!-- 		<parameter name="env" value="ROW" /> -->
<!-- 		<classes> -->
<!-- 			<class name="testsuit.Project.AddProjectTest" /> -->
<!-- 			<class name="testsuit.Project.AddProjectAssignmentTest" /> -->
<!-- 			<class name="testsuit.Project.AddKeyDateTest" /> -->
<!-- 			<class name="testsuit.Project.AddProjectPermitTest" /> -->
<!-- 			<class name="testsuit.Project.AddOpertaingCompanyTest" /> -->
<!-- 			<class name="testsuit.Project.AddProjectWorkflowTest" /> -->
			
<!-- 			<class name="testsuit.agreementManager.AgreementInformationTest" /> -->
<!-- 		</classes> -->
<!-- 	</test> -->


</suite>
